/* Text highlight colors */
::selection {
    background-color: #ffb2b2;
    color: white;
}
::-moz-selection {
    background-color: #ffb2b2;
    color: white;
}
/* Entire page */
body {
    color: rgb(116, 131, 154);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* Link colors */
a {
    text-decoration: none;
    color: #95d6ff;
    -webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
a:hover {
    color: #5753c1;
}

/* Make container full page width */
.container {
    max-width: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Section with name, subtitle, and links */
.landing {
    height: 100vh;
    
    background: rgba(124,169,235,1);
    background: -moz-linear-gradient(left, rgba(124,169,235,1) 0%, rgba(175,139,240,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(124,169,235,1)), color-stop(100%, rgba(175,139,240,1)));
    background: -webkit-linear-gradient(left, rgba(124,169,235,1) 0%, rgba(175,139,240,1) 100%);
    background: -o-linear-gradient(left, rgba(124,169,235,1) 0%, rgba(175,139,240,1) 100%);
    background: -ms-linear-gradient(left, rgba(124,169,235,1) 0%, rgba(175,139,240,1) 100%);
    background: linear-gradient(to right, rgba(124,169,235,1) 0%, rgba(175,139,240,1) 100%);
}

/* Name, subtitle, summary */
.intro {
    cursor: default;
    text-align: center;
    color: white;
    padding-top: 30vh;
    font-family: 'Nunito', sans-serif;
}
/* Name */
.intro h1 {
    letter-spacing: 3px;
    font-size: 14vmin;
    text-shadow: 0.7vmin 1px rgba(255, 255, 255, 0.2);
}
/* Subtitle */
.intro h2 {
    font-size: 6vmin;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0 auto;
}
/* Summary Paragraph */
.summary {
    height: 8vmin;
    width: 40vmax;
    margin: 5vh auto;
    font-size: 12px;
    font-weight: 100;
}
@media only screen and (max-device-width: 736px) {
    .summary {
        height: 8vmax;
        margin-bottom: 8vh;
    }
}

/* Page Nav */
.links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.links div {
    width: 12vmax;
    position: relative;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 0;
    text-transform: uppercase;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	position: relative;
}
@media only screen and (max-device-width: 1040px) {
    .links div {
        width: 15vmax;
    }
}
.links div::after {
    content:"";
    position: absolute;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    top: 80%;
    left: 30%;
    width: 40%;
    
    -webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.links div:hover {
    color: white;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
.links div:hover::after {
    border-bottom-color: transparent;
    left: 0%;
    top: 100%;
    width: 100%;
}

/* The Works */
.portfolio {
    padding: 20px;
}

.portfolio-item {
    min-height: 20vw;
    transition: 0.1s;
    margin-bottom: 20px;
    padding: 2vmin;
}




/* Case Study container width */
.case-study {
    padding: 0 40px 100px;
}


/* Case Study title */
.case-title {
    text-align: center;
    font-size: 50px;
    padding-top: 90px;
    padding-bottom: 60px;
    color: white;
}
.case-title h1 {
    font-size: 40px;
    font-weight:600;
}
.music {
    background-color: #c0ccf2;
}
.sheep {
    background-color: #cadbb9;
}
.thracker {
    background-color: #86b9fd;
}

/* Case Study Subtitles */
.case-study h4 {
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
}

/* Case Study bold */
.case-study p b{
    background-color: #ffffc5;
    font-weight: 100;
    
}

/* Case Study images */
.case-study img {
    display: block;
    margin: 10px auto;
    width: 100%;
}
.case-study .six img {
    width: 80%;
}