a {
    color: #6f8aaf;
    transition: 0.25s;
    font-weight: 800;
}
a:hover {
    color: #3e5679;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #55555d;
    background-color: #f5f7fc;
}

/* Small Screen: vertical */
@media (max-width: 768px) {
    .container > div {
        padding: 6vw;
    }
    .left-block {
        padding-top: 8vh !important;
    }
}

/* Medium Screen: 3:7 ratio, horizontal */
@media (min-width: 769px) {
    .container {
        display: flex;
    }
    .container > div {
        box-sizing: border-box;
        padding: 5vw;
        padding-top: 27vh;
        height: 100vh;
    }
    .container > div h2 {
        margin-bottom: 10vh;
    }
    .left-block {
        width: 40vw;
        position: fixed;
    }
    .right-block {
        width: 60vw;
        margin-left: 40vw;
    }
}

/* Widest Screen:3.5:6.5 ratio, horizontal */
@media (min-width: 1024px) {
    .container {
        display: flex;
    }
    .container > div {
        box-sizing: border-box;
        padding: 5vw;
        padding-top: 27vh;
        height: 100vh;
    }
    .container > div h2 {
        margin-bottom: 10vh;
    }
    .left-block {
        width: 35vw;
        position: fixed;
    }
    .right-block {
        width: 65vw;
        margin-left: 35vw;
    }
}

/* ============= The Color Block ============= */

.left-block {
    background-color: #ffb5ac;
    color: white;
}
.name h1 {
    color: white;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 7vmax;
    letter-spacing: 10px;
    margin: 0;
}
.links {
    display: flex;
}
.links a {
    flex: 1;
}



/* ============= Portfolio ============= */

.portfolio-item {
    margin-bottom: 8vh;
}

@media (min-width: 769px) {
    .portfolio-item {
        display: flex;
    }
    .portfolio-title {
        flex: 40%;
    }
    .portfolio-summary {
        flex: 60%;
    }
}

.about {
    display: none;
}
.case-study {
    display: none;
}
.case-study img {
    width: 100%;
    margin-bottom: 24px;
}
@media (min-width: 769px) {
    .case-study img {
        width: 50%;
    }
}
.case-study > div {
    margin-bottom: 48px;
}

.circles {
    padding: 0 !important;
}
