/*-----------INDEX.HTML STYLING-----------*/

.mainContent {
    width: 100%;
    text-align: center;
    color: #74819b;
    font-family: 'Muli', sans-serif;
}
.mainContent object {
    width: 55%;
    margin-top: 10vh;
}
.mainContent h2 {
    font-size: 3.8vw;
    font-weight: bold;
    margin: 0;
}
.subContent {
    margin: 1vh;
    font-style: italic;
    font-size: 2.07vw;
}
.navButton, .miniNavButton {
    display: block;
    background-color: transparent;
    border: 1px solid #74819b;
    border-radius: 4vw;
    width: 55%;
    margin: 1vw auto;
    transition-duration: 0.35s;
    font-size: 4.3vw;
}
.navButton:hover {
    background-color: #74819b;
    color: white;
    width: 54%;
    letter-spacing: 0.2vw;
}

/*425 pixels or wider, aka tablet*/
@media screen and (min-width: 425px) {
    .mainContent object, .navButton {
        width: 40%;
    }
    .mainContent h2, .navButton {
        font-size: 2.7vw;
    }
    .subContent {
        font-size: 1.5vw;
    }
    .navButton:hover {
        width: 39%;
    }
}
/*768 pixels or wider, aka desktop*/
@media screen and (min-width: 768px) {
    .mainContent object, .navButton {
        width: 25%;
    }
    .mainContent h2, .navButton {
        font-size: 1.7vw;
    }
    .subContent {
        font-size: 0.93vw;
    }
    .navButton:hover {
        width: 24%;
    }
}

/*-----------PORTFOLIO.HTML STYLING-----------*/
.header {
    background-color: #74819b;
    font-family: 'Muli', sans-serif;
    padding: 3vmax;
    margin: 0;
}
.header object {
    display: block;
    width: 40vmin;
    margin: 0 auto;
    padding-top: 3vh;
}
.projectContainer {
    margin-top: 5vh;
}
.project {
    color: #475166;
    font-family: 'Muli', sans-serif;
    text-align: center;
}
.project img {
    width: 100%;
    margin: 0 auto;
}

.miniNavButton {
    width: 30%;
    font-size: 11px;
    border: 1px solid white;
    color: white;
    display: inline;
    margin-left: 1.8vw;
    margin-top: 2vh;
}
/*768 pixels or wider, aka desktop*/
@media screen and (min-width: 768px) {
    .miniNavButton {
        margin-left: 0.4vw;
    }
}
.miniNavButton:hover {
    background-color: white;
    color: #74819b;
}

