a {
    color: #737e98;
    transition: 0.2s;
    font-weight: 800;
}
a:hover {
    color: #2a52b1
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #4b4b4b;
}

/* Flex container */
.container {
    display: flex;
    position: relative;
}

/* For horiztonally aligned divs */
.container > div {
    padding: 80px;
    box-sizing: border-box;
    padding-top: 30vh;
}
@media (max-width: 1056px) {
    .container > div {
        padding: 65px;
        padding-top: 30vh;
        box-sizing: border-box;
    }
}
@media (max-width: 700px) {
    .container > div {
        padding-top: 10vh;
    }
}
@media (max-width: 425px) {
    .container > div {
        padding: 50px;
        padding-top: 70px;
        box-sizing: border-box;
    }
}

/* ============= The Color Block ============= */

/* For wide screens */
.color-block {
    background-color: #ffa79b;
    width: 30vw;
    height: 100vh;
    position: fixed;
}
@media (max-width: 900px) { 
    .color-block {
        width: 40vw;
    }
}
@media (max-width: 700px) { 
    .color-block {
        position: absolute;
        width: 100vw;
        height: 240px;
    }
}
/* Name */
.color-block h1 {
    color: white;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 4.5vmax;
    letter-spacing: 5px;
    margin: 0;
}
@media (max-width: 700px) {
    .color-block h1 {
        font-size: 10vw;
    }
}

/* Intro Text */ 
.color-block p {
    text-align: justify;
}
@media (max-width: 700px) {
    .color-block p {
        display: none;
    }
}
/* Intro link section */
.color-block .intro-links {
    margin-top: 3vh;
}
@media (max-width: 700px) {
    .color-block .intro-links {
        margin-top: 20px;
    }
}

/* Individual intro links */
.color-block .intro-links a {
    display: block;
    margin-bottom: 10px;
    width: 25%;
}

@media (max-width: 700px) {
    .color-block .intro-links a {
        display: inline;
        margin-right: 5vw;
    }
}


/* ============= Portfolio ============= */
/* For wide screens */
.portfolio {
    background-color: #f3faff;
    width: 70vw;
    margin-left: 30vw;
}

.portfolio h2 {
    margin-bottom: 80px;
}

/* For medium screens */
@media (max-width: 900px) { 
    .portfolio {
        width: 60vw;
        margin-left: 40vw;
        padding-top: 150px;
    }
}

/* For tiny screens */
@media (max-width: 700px) { 
    .portfolio {
        width: 100vw;
        margin-left: 0;
        margin-top: 220px;
    }
}
.portfolio-item {
    margin-bottom: 60px;
}
.portfolio-item h3 {
    font-family: 'Miriam Libre', sans-serif;
}
.portfolio-item p {
    margin-top: 10px;
}